.waveflow {
  width: 1000px;
  height: 1030px;
  position: absolute;
  top: -25%;
  left: 50%;
  margin-left: -500px;
  margin-top: -500px;
  border-radius: 35%;
  background: rgba(255, 255, 255, .75);
  animation: waveflow 15s infinite linear;
}

@keyframes waveflow {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}

